:javascript
  function drawBackgroundColor() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'X');
    data.addColumn('number', 'Status' );

    var history = #{raw @request.tests.first.history_array};
    var arrayLength = history.length;
    for (var i = 0; i < arrayLength; i++) {
      data.addRows([
        [new Date(history[i][0]), history[i][1]]
      ]);
    }

    var options = {
      legend: {position: 'none'},
      hAxis: {
        title: 'Time'
      },
      vAxis: {
        title: '<-- Fail Pass -->',
        viewWindowMode:'explicit',
        viewWindow: {
          max:1,
          min:0
        }
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }