-@request.tests.each do |test|
  .row
    .col-md-3
    .col-md-6
      -if test.status == true
        .panel.panel-success
          .panel-heading.panel-success
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                Passing

          .panel-body.panel-success
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
          .panel-footer.panel-success.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}
     
      -elsif test.status == false and test.priority == Test::HIGH
        .panel.panel-danger
          .panel-heading.panel-danger
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                Failing

          .panel-body.panel-danger
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
            .row
              .col-md-4
                Actual value
              .col-md-8
                =test.actual_value
            .row 
              .col-md-4
                Consecutive Failures
              .col-md-8
                =test.consecutive_failures
          .panel-footer.panel-danger.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}

      -elsif test.status == false and test.priority == Test::LOW
        .panel.panel-warning
          .panel-heading.panel-warning
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                Failing

          .panel-body.panel-warning
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
            .row
              .col-md-4
                Actual value
              .col-md-8
                =test.actual_value
            .row 
              .col-md-4
                Consecutive Failures
              .col-md-8
                =test.consecutive_failures
          .panel-footer.panel-warning.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}

      -else
        .panel.panel-default
          .panel-heading.panel-default
            .row
              .col-md-8.text-left
                =test.name
              .col-md-4.text-right
                N/A

          .panel-body.panel-default
            .row
              .col-md-4
                Priority
              .col-md-8
                =test.priority_string            
            .row
              .col-md-4
                Key
              .col-md-8
                =test.key
            .row    
              .col-md-4
                Expected Value
              .col-md-8
                =test.value
          .panel-footer.panel-default.text-center
            =button_to 'Delete', test_path(test), {method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to delete Test: #{test.name}?  This action cannot be undone!"}}