-@requests.each do |request|
  .row
    .col-md-2
    .col-md-2
      =link_to(request_path(request)) do
        -if request.status
          .label.label-success
            Pass
        -else
          .label.label-danger
            Fail
    .col-md-3
      =request.name
    .col-md-3
      =request.last_updated
    .col-md-2