-@request.tests.each do |test|
  .row
    .col-md-2
    .col-md-2
      -if test.status == true
        .label.label-success
          Pass
      -elsif test.status == false
        .label.label-danger
          Fail
      -else 
        .label.label-default
          N/A
    .col-md-2
      =test.name
    .col-md-2
      =test.key
    .col-md-2
      =test.value
    .col-md-2

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        URL
      .panel-body
        =@request.url 
%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Evaluated URL
      .panel-body
        =@request.evaluate

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Headers
      .panel-body
        %pre
          =@request.headers

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Use SSL?
      .panel-body
        =@request.use_ssl

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Response Code
      .panel-body
        =@request.response_code 

%br
.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading
        Response Body
      .panel-body
        %pre
          =@request.response_body