.danger-well {
    background: rgb(217, 84, 80);
    color: white;
    font-size: large;
}

.warning-well {
    background: rgb(255, 193, 7);
    color: white;
    font-size: large;
}

.passing-well {
    background: rgb(92, 184, 92);
    color: white;
    font-size: large;
}

.panel-heading.panel-danger {
    background: rgb(217, 84, 80);
    color: white;
    font-size: large;
}

.panel-heading.panel-warning {
    background: rgb(255, 193, 7);
    color: white;
    font-size: large;
}

.panel-heading.panel-success {
    background: rgb(92, 184, 92);
    color: white;
    font-size: large;
}

a:hover{
    text-decoration: none;
}

.danger-well:hover{
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(217,84,80, 0.6);
}

.passing-well:hover{
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(92,184,92, 0.6);
}